appdirs==1.4.3
blessings==1.6
bpython==0.16
curtsies==0.2.11
Django==1.10.3
django-widget-tweaks==1.4.1
greenlet==0.4.12
Kajiki==0.6.1
nine==1.0.0
packaging==16.8
pkg-resources==0.0.0
Pygments==2.2.0
pyparsing==2.2.0
python-otrs==0.3.0
requests==2.14.2
six==1.10.0
wcwidth==0.1.7
