{% for book in books %}
{% if book.status !=  4 %}
{% if book.status !=  5 %}
<tr>
    <td>{{ book.req }}</td>
    <td>{{ book.wo }}</td>
    <td>{{ book.datahorageracaoarquivo }}</td>
    <td>{{ book.status }}</td>
    <td style="width: 150px">
        <button type="button" class="btn btn-success js-update-book" data-url="{% url 'book_update' book.id %}">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </td>
</tr>
{% endif %}
{% endif %}
{% empty %}
<tr>
    <td colspan="8" class="text-center bg-warning">No book</td>
</tr>
{% endfor %}
